<div class="col-xs-12 privacy-policy">
    <div class="text-center">
        <a [routerLink]="[ '/main' ]"><img src="../../../assets/images/gbar-logo2.webp" class="privacy-policy-logo"></a>
    </div>
    <h1>Політика конфіденційності</h1>
    <p>
        <span>Обмеження відповідальності</span><br>
        Б’юті-бар Джи. зобов’язується надавати своїм клієнтам якісні послуги і за допомогою сайту G.Bar
        сприяти зручному запису, зберігати історію взаємовідносин-візитів клієнта, а також надавати
        максимально персоналізований сервіс. Для цього нам необхідно зберігати і періодично використовувати
        Ваші персональні дані (ім’я, прізвище, дату народження, посилання на соціальні мережі клієнта,
        контактний номер телефону, адресу електронної пошти та індивідуальні переваги). Клієнти нашого
        б’юті-бару мають бути впевнені в тому, що ми розпоряджаємося їх персональними даними з
        відповідальністю, передбаченою законодавством.<br><br>
        Політика конфіденційності розповсюджується на мобільний додаток і сайт G.Bar, а також на дані, що
        надані б’юті-бару у будь-який спосіб передачі інформації. В даних правилах зберігання та
        використання особистої інформації з займенниками «ми», «нас», «наш», «нам» та аналогічними їм
        передбачається певний користувач мобільного додатку/сайту та клієнти G.Bar. Відвідуючи сайт/додаток
        та/чи реєструючись на даних платформах, Ви тим самим погоджуєтесь з даними правилами зберігання та
        використання особистої інформації.<br><br>
        <span>Збір персональних даних</span><br>
        Персональні дані – це будь-яка інформація, що дозволяє нам ідентифікувати Вашу особистість та
        зв’язатися з Вами. Ми збираємо та зберігаємо інформацію, коли Ви стаєте нашим клієнтом/ реєструєтесь
        на сайті/в додатку та/чи здійснюєте вхід в систему для використання нашого сайту/додатку, задаєте
        питання, вказуєте місто, заповнюєте форми, залишаєте заявку на відвідання G.Bar, проводите
        трансакції чи відправляєте нам повідомлення електронною поштою чи в месенджери.
        <br><br>
        G.Bar використовує Ваші персональні дані для запису на послуги, виконання погоджених трансакцій,
        пов’язаних з наданням Вам послуг, відповіді на Ваші питання та запити, відправки сповіщень про
        найближчі акції та рекламні матеріали, останніх новин чи спеціальних пропозицій, які, на наш погляд,
        можуть Вас зацікавити.
        <br><br>
        G.Bar — б’юті-бар для дівчат всіх вікових категорій (від 3 до 93 років). Тому неповнолітні діти
        мають право користуватися послугами G.Bar та реєструватися. При необхідності – карта клієнта, запис
        на послуги та реєстрація можуть створюватися на ім’я найближчого старшого родича.
        <br><br>
        Якщо міжнародна мережа продає свій бізнес, такий продаж може передбачати і передачу персональних
        даних зареєстрованих користувачів.
        <br><br>
        Деяка інформація, яка збирається на сайті, в додатку чи у внутрішній CRM-системі G.Pro, не
        відноситься до персональних даних, так як вона не ідентифікує Вашу особистість. Наприклад, ми можемо
        зафіксувати адресу Вашого серверу, доменне ім’я, дату та час Вашого візиту на сайт/ у додаток, а
        також переглянуті Вами сторінки. Ми застосовуємо таку інформацію анонімно та агреговано, в цілях
        розвитку статистики та сайту/додатку.
        <br><br>
        Проте ми зберігаємо за собою право використання даної інформації з метою визначення місця
        перебування окремої особи, в тому числі, коли у нас є всі підстави вважати, що ця особа веде
        незаконну та неправомірну діяльність по відношенню до даного сайту.
        <br><br>
        Файли cookie являють собою невеликі інформаційні файли, які передаються Вашому веб-браузеру з метою
        ідентифікації. Файли cookie, які ми використовуємо, не ідентифікують Вашу особу. Натомість вони
        ідентифікують Ваш веб-браузер.
        <br><br>
        Ми використовуємо «сесійні» cookie для зберігання інформації про сесію при вході в систему, які
        дозволяють нам впізнати попередньо аутентифікованих користувачів і здійснювати онлайн продаж
        (наприклад, опрацювати замовлення у Вашому кошику для відбору товарів).
        <br><br>
        Ми також використовуємо «постійні» cookie, які допомагають захищати наших клієнтів та користувачів,
        і надають нам інформацію про будь-якого користувача нашого сайту/додатку.
        «Постійні» cookie дозволяють нам відслідкувати користувачів на сайті/у додатку та ідентифікувати
        учасників, які некоректно використовують наші послуги.
        <br><br>
        Більшість веб-браузерів встановлено на прийом файлів cookie. Якщо Ви бажаєте не отримувати їх, Ви
        можете налаштувати свій браузер, щоб він не приймав cookie та надсилав Вам повідомлення про їх
        використання. Також є програмні продукти, які можуть управляти за Вас файлами cookie.Проте відмова
        від прийому файлів cookie Вашим веб-браузером може обмежити функціонування даного сайту у Вашому
        випадку.
        <br><br>

        <span>Доступ до інформації</span><br>
        Б’юті-бар G.Bar застосував ряд технологічних, фізичних та адміністративних заходів захисту від
        несанкціонованого доступу, а також заходів у зберіганні Ваших даних і відповідному використанні
        Ваших персональних даних.
        <br><br>
        У відповідності з правилами зберігання та використання особистої інформації і наскільки це прийнятно
        з комерційної точки зору, ми обмежуємо доступ до Ваших персональних даних.
        Проте Ваші персональні дані необхідні нашим адміністраторам, співробітникам та певним партнерам по
        бізнесу (франчайзі: кожне місто бачить тільки дані своїх клієнтів у своєму місті), щоб вони могли
        виконати свої задачі з надання товарів та послуг.
        <br><br>
        Ми можемо надавати загальні відомості про клієнтів G.Bar, продажі, завантаженість б’юті-барів,
        партнерів з виконання замовлень чи сторонніх постачальників, проте дані відомості не включать в себе
        персональні дані.
        <br><br>
        Ми не обмінюємось інформацією з третіми особами, у випадку, якщо їх метою є прямий маркетинг.
        <br><br>
        При наданні клієнтам G.Bar товарів та послуг ми можемо розкривати персональні дані третім особам. Це
        стосується компаній, які надають маркетингові послуги та займаються іншими бізнес операціями, а
        також компаніями, що надають нам послуги і постачають нам продукцію, а також компаній, яким ми
        надаємо послуги при отриманні від таких компаній згоди на обробку персональних даних та дотримання
        інших вимог законодавства та захисту персональних даних.
        <br><br>
        Що стосується організацій, які надають послуги згідно договору, ми можемо розкрити персональні дані
        такої організації, а вона, у свою чергу, може надати нам персональні дані, отримані про Вас під час
        надання відповідних послуг та товарів. Ми вживаємо заходів, щоб забезпечити дотримання
        організаціями, які надають послуги згідно договору, принципів недоторканності приватного життя, коли
        вони збирають та обробляють Ваші персональні дані.
        <br><br>
        Ми також можемо розкривати персональні дані третім особам:
    </p>
    <ul>
        <li>у випадку необхідності чи законних повноважень на розкриття персональних
            даних; та/чи</li>
        <li>з Вашого дозволу.</li>
    </ul>
    <br>
    <p>
        Ми також можемо розкривати персональні дані за умови, що таке розголошення є необхідним для захисту
        наших прав чи власності, або прав чи власності користувачів нашого сайту. Це також можливо у випадку
        надзвичайних обставин, що передбачають дії з забезпечення персональної безпеки нашого сайту чи
        необмеженого кола осіб.
        <br><br>

        <span>Міжнародні зв’язки</span><br>
        На нашому сайті чи в нашому мобільному додатку можуть бути вказані посилання на сайти/ додатки інших
        компаній та організацій. G.Bar не несе відповідальності за те, яким чином такі компанії та
        організації збирають, використовують, розкривають та захищають надану Вами інформацію.
        Якщо ви відвідуєте сайти третіх осіб за посиланням, розміщеним на нашому сайті, Ви робите це на
        власний розсуд та ризик, і відповідно до умов надання послуг чи правил зберігання особистої
        інформації (при наявності такої), що мають відношення до таких сайтів.
        <br><br>

        <span>Зміна персональних даних</span><br>
        Ви можете переглядати та вносити зміни в Ваші персональні дані, які зберігаються в розділі
        «особистий кабінет» у мобільному додатку G.Bar.
        <br><br>

        <span>Ануляція підписки чи призупинка участі</span><br>
        Якщо Ви з будь-якої поважної та обгрунтованої причини хочете відмовитися від співробітництва чи
        комунікацій з G.Bar у будь-якому прояві (повному чи частковому), будь ласка, зв’яжіться за
        актуальним номером телефону G.Bar у вашому місті.
        <br><br>

        <span>Доповнення та сповіщення про зміни</span><br>
        G.Bar може на власний розсуд вносити зміни в ці Правила зберігання особистої інформації з огляду на
        зміни в інтернет-технологіях чи діючому законодавстві. У зв’язку з цим просимо Вас періодично
        проглядати вищевказані положення Політики конфіденційності на предмет наявності змін.
        <br><br>

        <span>Скарги, питання та пропозиції щодо конфіденційності</span><br>
        Якщо Ви маєте питання чи пропозиції відносно даних положень Політики конфіденційності, просимо Вас
        зв’язатися з нами, скориставшись електронною адресою developer@ohmylook.ua.
        <br><br>
        Будь-які скарги щодо конфіденційності Вашої інформації можна направляти на електронну адресу
        developer@ohmylook.ua чи звичайною поштою за адресою: 02000, м. Київ, вул. Казимира Малевича 86П,
        G.Bar.
        <br><br>
    </p>
</div>