@import 'assets/styles/reset';
@import 'assets/styles/variables';
@import 'assets/styles/fonts';
@import 'assets/styles/mixins';

html {
    scroll-behavior: smooth;
}

.animated{
    white-space: nowrap;
    animation-name: showtext;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;

}

@keyframes showtext{
    0%{
        width: 0%;
        overflow: hidden;
    }
    100%{
        width: 100%;
        overflow: visible;
    }
}

.title{
    font-family: 'AdleryPro';
    white-space: nowrap;
    display: inline-block;
    color: $lightPink;
    width: 0%;
}

.subtitle{
    height: 71px;
    line-height: 71px;
    font-family: 'CeraPROBold';
    font-size: 50px;
    position: relative;
}

.general-info{
    font-size: 14px;
    font-family: "CeraPROLight";
    color: #0d0d0d;
    line-height: 1.29;
}

.cross-line{
    display: inline-block;
    height: 4px;
    z-index: 2;
    background: $lightPink;
}

.section-title-box{
    width: 100%;
    height: 130px;
    line-height: 130px;
}

span{
    display: inline-block;
}

body { 
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

a{
    text-decoration: none;
    &:hover{
        text-decoration: none;
    }
}

app-vacancies{
    width: 100%; 
}

app-profile{
    width: 100%;
}

.ng-select{
    .ng-value{
        position: relative;
        padding-right: 20px;
        span::after{
            content: '';
            position: absolute;
            top: 6px;
            right: 0;
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 5px solid rgba(255,255,255,.2);
        }
    }
    .ng-dropdown-panel{
        display: block;
        background-color: #9074a3;
        margin: 5px 0;
        font-size: 18px;
        font-family: 'CeraPROLight';
        color: #fefefe;
        transition: .5s ease all;
        .ng-dropdown-panel-items{
            padding-right: 10px;
            .ng-option{
                height: 26px;
                line-height: 26px;
                margin: 5px 0;
                transition: .3s ease all;
                padding-left: 62px;
                &:hover{
                    background: rgba(255,255,255,.2);
                }
            }
        }
    }
}

.error-message-box{
    height: auto;
    position: fixed;
    top: 70px;
    left: calc(50% - 226px);
    font-family: 'CeraPROBold';
    color: #ffffff;
    width: 452px;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px 50px;
    z-index: 9999999;
    margin: auto;
    @include flexbox (flex, column, flex-start, center);
    text-align: center;
    span{
        font-size: 16px;
        font-weight: 300;
        line-height: 1.5;
        &+.error-message-title{
            font-family: 'CeraPROBold';
        }
        &+.error-message-subtitle{
            font-family: 'CeraPROLight';
        }
    }
    .icon{
        font-size: 28px;
    }
    span:last-child{
        cursor: pointer;
        font-size: 18px;
        position: absolute;
        top: 5px;
        right: 10px;
    }
}

@media screen and (max-width: 1275px) {
    router-outlet + app-main{
        margin: 20px 0;
        padding: 0 20px;
        width: 100%;
    }
    router-outlet + app-vacancies{
        margin: 20px 0;
        padding: 0 20px;
        width: calc(100%-40px);
    }
    
}

@media screen and (max-width: 770px) {
    router-outlet + app-main{
        padding: 0;
    }
    router-outlet + app-vacancies{
        padding: 0;
        width: 100%;
    }
}

@media screen and (max-width: 500px){
    .error-message-box{
        left: calc(50% - 150px);
        width: 300px;
    }
}