@font-face{
    font-family: "CeraPROBold";
    src : url(../fonts/CeraPro/CeraPro-Bold.ttf);
}
@font-face{
    font-family: "CeraPROLight";
    src : url(../fonts/CeraPro/CeraPro-Light.ttf);
}
@font-face{
    font-family: "AdleryPro";
    src : url(../fonts/Adlery-Pro/Adlery-Swash-trial.ttf);
}